*.o
# vim swap files
.*.sw*
Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.a
install_manifest.txt
.deps/
.libs/
*.lo
*.la
config.log
config.status
*.pc
*.dylib
*.list
libfaad2/frontend/faad
libmad/mad.h
libmad/config.h.in~
libmad/autom4te.cache/